.DS_Store
*.qgs
*.shp
*.shx
*.dbf
*.shx
*.prj
*.table
*.zip
*.pyc
*.sqlite3
.env
/static
local_settings.py
.cache
.pytest_cache
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/configs/local_settings.py.production
/configs/local_settings.py.staging
/configs/nginx_template.conf.production
/configs/nginx_template.conf.staging
/configs/supervisor_template.conf
/scripts/after_install.sh
/scripts/app_start.sh
/scripts/app_stop.sh
/scripts/render_configs.py
