Django==1.10
django-storages==1.5.0
django-debug-toolbar==1.9.1
boto==2.42.0
requests==2.11.1
gunicorn==19.6.0
raven==5.26.0
python-dateutil==2.5.3
usaddress==0.5.7
psycopg2==2.7.4
-e git+https://github.com/datamade/pyesridump.git#egg=pyesridump
pytz==2016.7
python-magic==0.4.12
django-bootstrap-pagination==1.6.2
pytest
pytest-django
pytest-capturelog==0.7
csvkit==1.0.2
us
pytest-mock==1.6.3
Jinja2==2.10
