<p><strong>1. Create an account on the Cook County Recorder of Deeds website</strong></p>

<p>Visit the Cook County Recorder of Deeds, and <a href="http://ccrecorder.org/accounts/register/" target="_blank">register as a user</a>. You can <a href="http://ccrecorder.org/accounts/login/" target="_blank">login</a> if you already have an account.</p>

<p><a href='http://ccrecorder.org/accounts/register/'><img class='img-responsive img-thumbnail' src='/static/images/ccrd-register.png' /></a></p>

<p><strong>2. Search records by address, PIN, or name</strong></p>

<p class="deed-explain">
  <a href="http://ccrecorder.org/recordings/go_to_search_recordings/" target="_blank">Visit the search portal.</a> Enter the address of the property <em>you own</em>, and click PIN-ADDRESS QUICK SEARCH. Alternatively, you can scroll down to the ADVANCED DOCUMENT SEARCH and search by PIN, address, name, and other attributes. You will see a list of various records associated with your search query. 
</p>
<p><a href="http://ccrecorder.org/recordings/go_to_search_recordings/" target="_blank"><img class='img-responsive img-thumbnail' src="/static/images/ccrd-search.png"/></a>
</p>

<p><strong>3. Preview your deed and add it to your cart</strong></p>
<p class="deed-explain">
  Find your deed in the results, and click SHOW DOC. This directs you to a preview page. When ready, you can add the deed to your cart by clicking "Add To Cart." <strong>Careful! LargeLots applicants must submit a deed, not a mortgage - please select the correct document.</strong>
</p>
<p>
  <img class='img-responsive img-thumbnail' src="/static/images/ccrd-preview.png"/>
</p>

<p><strong>4. Finalize your order</strong></p>
<p class="deed-explain">
  Click "View Cart," and follow the steps to purchase your deed document.
</p>