#map { width: 100%; height: 500px;}
#map-admin { width: 100%; height: 600px;}

body {
  font-size: 18px;
}

a, a:hover {
    color: #238b45;
}

/*Continue here*/
a.dropdown-toggle:visited {
    color: #333333;
    text-decoration: none;
}

a.dropdown-toggle:hover {
    color: #333333;
    text-decoration: none;
}

.footer {
    border-top: 1px solid #e6e6e6;
    padding: 20px 10px;
    margin-top: 10px;
    background-color: #fefefe;
}

.footer img {
    padding-right: 30px;
    margin-bottom: 20px;
    height: 80px;
}

.navbar-header>.navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>div {
    color: #238b45;
    margin-top: 7px;
    line-height: 20px;
    padding: 15px;
}

.dropdown-menu { font-size: 18px; }

#logo img { margin: 5px 0 5px 0;}

.pull-left img { margin-right: 20px; }

#lot-form input[type=checkbox] { margin-left: 20px; }

#search_address { width: 400px; }

.nav-pills > li.active > a, .nav-pills > li.active,
.nav-pills > li.active:hover > a, .nav-pills > li.active:hover {
    background-color: #238B45;
}

.btn {
    text-transform: none;
    font-size: 15px;
    font-weight: normal;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
}

.btn-primary:hover {
    background-color: #555;
    border-color: #555;
}

.btn-danger {
    background-color: #A1285D;
    border-color: #A1285D;
}

.btn-danger:hover {
    background-color: #ca3275;
    border-color: #ca3275;
}

.btn-success {
    background-color: #389250;
    border-color: #389250;
}

.btn-success:hover {
    background-color: #46b764;
    border-color: #46b764;
}

#print-page:hover { background-color: #eee; }

#print-page { color: #555; }

.well-success {
    background-color: #DFF5E6;
    border-color: #DFF5E6;
}

.alert-success a:hover {
    color: #fff;
}

#received th {
    cursor: pointer;
}

table a, .table a { text-decoration: none; }

.dataTables_wrapper { margin-top: 1.5em; }

/* leaflet legend styles */
.leaflet-google-layer{
    z-index: 0 !important;
}

.leaflet-map-pane{
    z-index: 100;
}

.info, .infoOwned, .infoApplied, .infoOtherApplicants, .locationsLegend, .mapInfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.locationsLegend {
    padding-top: 1em;
}

.infoOwned h4, .infoApplied h4, .infoOtherApplicants h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.label-available { background-color: #389250; }
.label-applied { background-color: #A1285D; }

.label-danger { background-color: #BE4630; }
.label-success { background-color: #389250; }

.label-link label {
    color: #fff;
}

.label-link {
    text-decoration: none !important;
}

/* Form Styling */
.red { color: red; }
.open { color: #389250;}
.closed { color: #A1285D;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.no-wrap { white-space: nowrap; }

.block { display: inline-block; }

.fl-r { float: right; }

td input[type="radio"] {
    float: left;
    margin: 0 auto;
    width: 100%;
}

/*Styles for admin.html and DataTable */
table#receivedTable thead th, table#receivedTable, table#deniedTable thead th, table#deniedTable {
  border-bottom: 0;
}

#receivedTable_filter, #deniedTable_filter {
    float: left;
}

#receivedTable_length, #deniedTable_length {
    float: right;
}

.emphasis {
    font-style: italic;
    color: #9D9C9C;
}

.info-text {
    font-style: italic;
    color: #9D9C9C;
    padding-top: 12px;
}

td.bulk, th.bulk, td.ball, th.ball, td.ward { text-align: center; }

button.update {
    display: inline-block;
    height: 36px;
}

select.update {
    width: 70%;
    margin-top: 20px;
    display: inline-block;
}

#letter-checkbox { padding-left: 0; }

.right-nav {
    float: left;
    font-size: 16px;
}

/* Style for review_status_log.html */
.review-header { color: #9D9C9C; }

ul.nav-wizard li {
    padding: 0 10px 0 22px;
}

/* Styles for deed-check.html*/
#pdf-embed { margin-top: 20px; }

#sideInfo.affix-top {
    position: static;
    margin-bottom: 80px;
    width: 300px;
    z-index: 999;
}

#sideInfo.affix {
    position: fixed;
    top: 320px;
    width: 300px;
    margin-bottom: 80px;
    z-index: 999;
}

.affix,.affix-top {
   position:static;
}

/* Styles for location-check.html*/
div#location .radio+.radio { margin-top: 0px; }

div#location .radio {
    display: inline-block;
    padding-right: 20px;
}

#locationcheck-map {
    height: 680px;
    margin-top: 20px;
}

.fa-3x {
font-size: 4em;
}

.error-msg {
    color: #ff4136;
}

/* Styles for multiple locations map legend */
ul.location-legend {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.location-legend li {
    margin-bottom: 1em;
}

div#sale-lot {
    background-color: #41ab5d;
    border-radius: 5px;
    opacity: 0.7;
    height: 22px;
    width: 22px;
}

div#owned-prop {
    background-color: #A1285D;
    border-radius: 5px;
    opacity: 0.7;
    height: 22px;
    width: 22px;
}

div#other-prop {
    background-color: #A1285D;
    border-radius: 5px;
    border: 1.5px solid #680D35;
    opacity: 0.2;
    height: 22px;
    width: 22px;
}

div.legend-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

div.text { padding-top: 1%; }

/* Styles for lottery.html */
.winner {
    width: 60%;
    text-align: center;
}

button.winners {
    float: right;
}

thead#table-stripe {
    background-color: #f9f9f9;
}

.notification {
    font-style: italic;
    color: #9D9C9C;
    text-align: center;
}

/* Styles for bulk_deny.html */
ul.bulk-deny {
    list-style: none;
    padding: 0;
}

.bulk-deny li:nth-child(odd) {
    background-color: #f9f9f9;
}

.bulk-deny li { padding: 1em; }

select.bulk-deny {
    width: 60%;
}

/* Styles for Tally */

.table-info {
    background-color: #e6e6e6;
}