{% extends "base.html" %}
{% block title %} | Lot uses {% endblock %}
{% block content %}
  <div class='col-md-4'>
    <div class='well'>
        <h2>Community Agriculture</h2>
        <img src='/static/images/1-community-agriculture.jpg' alt='Community Agriculture' class='img-responsive img-thumbnail' />
        <p>Provides space for community members to grow plants for beautification, education, community distribution, or personal use</p>
    </div>
  </div>

  <div class='col-md-8'>

    <h3><i class='fa fa-fw fa-comments'></i> What do I need to ask myself and decide?</h3>

    <ul>
        <li>Have a committed volunteer community?</li>
        <li>Horticultural knowledge?</li>
        <li>Will you have a storage shed?</li>
        <li>Will you have a hoop house/greenhouse?</li>
        <li>Compost?</li>
        <li>Fencing?</li>
        <li>Planning to sell produce?</li>
        <li>Raised beds?</li>
        <li>Rainwater collection?</li>
        <li>On-site parking lot?</li>
    </ul>

    <h3><i class='fa fa-fw fa-file-text-o'></i> What steps is it going to involve?</h3>

    <ol>
        <li><p>Get professional advice and see the City of Chicago’s Urban Agriculture FAQ to determine how to get zoning approval for community agriculture.</p></li>
        <li><p>The City of Chicago defines Community Gardens differently from how it defines Urban Farms. Community Gardens are typically operated non-profit by volunteers, and cannot exceed 25,000 SF in area. Urban Farms are commercial operations with a business license.</p></li>
        <li><p>Certain “accessory buildings,”such as sheds, hoop houses, and greenhouses, require approval from Zoning, and possibly a permit. The size and materials used will determine what approval process you’ll need. You may need to hire an architect and/or general contractor for a permit. Get professional advice.</p></li>
        <li><p>Research and connect with nearby community gardens in your area through the Chicago Community Gardener Association (CCGA) to foster a strong volunteer team.</p></li>
    </ol>

    <h3><i class='fa fa-fw fa-mouse-pointer'></i> Where can I learn more about it?</h3>

    <ul>
        <li>City of Chicago Urban Agriculture Zoning contact: See the City’s Urban Agriculture FAQ: http://tinyurl.com/ ChiUrbanAgriculture</li>
        <li>City contact person for community agriculture zoning inquiries: Jeanne Chandler, 312.744.0605</li>
        <li>CCGA: www.chicagocommunitygardens.org</li>
    </ul>
    
  </div>
{% endblock %}
