{% extends "base_lot_uses.html" %}
{% load lots_filters %}
{% block title %}Pools, Ponds, + Hot Tubs - Lot Uses {% endblock %}
{% block name %}Pools, Ponds, + Hot Tubs{% endblock %}
{% block category %}Private Project{% endblock %}
{% block description %}Permanent private water features.{% endblock %}
{% block image %}<img src='/static/images/lot-uses/13-pools-ponds-hot-tubs.jpg' alt='Pools, Ponds, + Hot Tubs' class='img-responsive img-thumbnail' />{% endblock %}
{% block requirements %}
    <p>{{ "Z"|lot_use_label:"True" }}</p>
    <p>{{ "E"|lot_use_label:"True" }}</p>
{% endblock %}

{% block questions %}
    <ul>
        <li>Pool or pond with in-ground excavation?</li>
        <li>Depth of over 42”?</li>
        <li>Have a plan of the utility lines below your lot?</li>
        <li>Aware of increased energy demands?</li>
        <li>Pre-packaged unit?</li>
        <li>Aware of fencing & safety requirements?</li>
        <li>Discussed safety with neighboring families?</li>
        <li>Maintenance plan?</li>
        <li>Seasonal transition plan?</li>
    </ul>
{% endblock %}

{% block steps %}
    <ol>
        <li><p>Many pools and water features need approval from the Department of Zoning, the Department of Buildings, and the Department of Water Management. Consult a design professional regarding permits.</p></li>
        <li><p>The City of Chicago defines “private residential swimming pools” as pools deeper than 42 inches. Pools require more extensive permit process for safety reasons. In Chicago, pools must be drained of water from Sept 15 to May 30. Permanent pools require an architect.</p></li>
        <li><p>Hot tubs, defined as hydromassage pools under 42” with filters, heaters, and blowers, may be either above or in-ground, pre-packaged or custom. Hot tubs are not required to be drained like pools.</p></li>
        <li><p>Ornamental pools or ponds are typically 2 to 3 feet in depth, not exceeding 42”. The City of Chicago code typically refers to such ponds as “fountains.” A Certified Aquascape Contractor is recommended.</p></li>
    </ol>
{% endblock %}

{% block resources %}
    <ul>
        <li><p>Custom pool builders: Request a free consultation with experienced Chicagoland companies like <a href='http://barrington-pools.com'>Barrington Pools</a>, <a href='http://downespool.com'>Downes Pool</a>, or <a href='http://aspools.com'>All Seasons Pools</a>. There are many others.</p></li>
        <li><p>Consider pre-packaged options: Retailers like <a href='http://shopthegreatescape.com'>The Great Escape</a> and large home improvement oriented department stores can give you a sense of price for pre-packaged pool & hot tub units.</p></li>
        <li><p>For ornamental ponds + fountains: Find a Certified Aquascape Contractor serving Chicagoland like: <a href='http://gemponds.com'>Gem Ponds</a>, <a href='http://adgponds.com'>Artistic Design Garden Ponds</a>, or <a href='http://aqualandscapesinc.com'>Aqua Landscapes</a>. There are many others.</p></li>
    </ul>
{% endblock %}
