{% extends "base_lot_uses.html" %}
{% block title %}Porches + Decks - Lot Uses {% endblock %}
{% block name %}Porches + Decks{% endblock %}
{% block category %}Private Project{% endblock %}
{% block description %}An unheated portion of a building generally containing a stair, separated from the building by a fire-rated wall.{% endblock %}
{% block image %}<img src='/static/images/lot-uses/14-porches-decks.jpg' alt='Porches + Decks' class='img-responsive img-thumbnail' />{% endblock %}
{% block requirements %}
    <p><label class='label label-default'>Z</label> Department of Zoning Approval Required</p>
    <p><label class='label label-warning'>S</label> Standard Permit Required (Dept of Buildings). Hire an Architect and a General Contractor.</p>
{% endblock %}

{% block questions %}
    <ul>
        <li>Combustible materials like wood?</li>
        <li>Three stories or less?</li>
        <li>Projecting 10’ or less from dwelling?</li>
        <li>Objects on sills or railings like flower boxes or decorative mouldings?</li>
        <li>Structurally designed for 100 lbs/SF capacity?</li>
        <li>Aware of fire code for your building type?</li>
        <li>Enclosed stairwell?</li>
        <li>Full replacement/new construction porch?</li>
    </ul>
{% endblock %}

{% block steps %}
    <ol>
        <li><p>Note that per Chicago Code, “decks” are defined as being unroofed. “Porches” are defined as having roofs.</p></li>
        <li><p>There are stringent permitting requirements for porches and decks in Chicago. Ensure that the architect and general contractor you select are licensed and have experience specifically building Chicago porches and decks. You may also need to hire a structural engineer to satisfy the load requirements.</p></li>
        <li><p>If you have an existing porch in any condition that you wish to have assessed for potential rehabilitation, you can arrange for a free “owner- requested porch inspection” simply by dialing 3-1-1 and requesting it.</p></li>
        <li><p>Refer to the City of Chicago’s Porch Design & Construction Guidelines as you are planning your project. Many details are included for the benefit of homeowners to clarify the complete list of requirements.</p></li>
    </ol>
{% endblock %}

{% block resources %}
    <ul>
        <li><p>To find a structural engineer: <a href='http://www.seaoi.org'>Structural Engineers Association of Illinois</a>, <a href='mailto:office@seaoi.org'>office@seaoi.org</a></p></li>
        <li><p>To get a free inspection by a Building Inspector: Call 3-1-1 and ask for an “owner-requested porch inspection.”</p></li>
        <li><p>To get a free estimate: Request a quote from <a href='http://www.porch-builders.com'>Chicago Porch Builders</a>, 773.251.9879</p></li>
        <li><p>To learn more about funding & loan options: See the <a href='http://nhschicago.org'>Neighborhood Housing Services Chicago website</a>.</p></li>
    </ul>
{% endblock %}
