{% extends "base_lot_uses.html" %}
{% block title %}Public Plazas + Hardscaping - Lot Uses {% endblock %}
{% block name %}Public Plazas + Hardscaping{% endblock %}
{% block category %}Public Project{% endblock %}
{% block description %}Concrete, asphalt, or other activated hardscape surfaces for public use.{% endblock %}
{% block image %}<img src='/static/images/lot-uses/2-public-plazas-hardscaping.jpg' alt='Public Plazas + Hardscaping' class='img-responsive img-thumbnail' />{% endblock %}
{% block requirements %}
    <p><label class='label label-default'>Z</label> Department of Zoning Approval Required</p>
    <p><label class='label label-danger'>E</label> Easy Permit Required (Dept of Buildings). Hire a General Contractor</p>
{% endblock %}

{% block questions %}
    <ul>
        <li>Private parking pad?</li>
        <li>Asphalt?</li>
        <li>Concrete?</li>
        <li>Publicly accessible?</li>
        <li>Any existing/remnant paving?</li>
        <li>Considered drainage issues?</li>
        <li>Considered benefits of permeable paving?</li>
        <li>Ramp elements?</li>
    </ul>
{% endblock %}

{% block steps %}
    <ol>
        <li><p>Get professional advice to determine the Chicago Municipal Code’s requirements on size and property line setbacks. You may qualify for an Easy Permit with a contractor.</p></li>
        <li><p>Permeable paving refers to a range of sustainable materials (including pervious concrete, porous asphalt, or brick-like paving stones) which have the advantage of allowing stormwater to pass through the paving and return to the soil below, rather than becoming runoff for the city’s sewers. It can look indistinguishable from non-porous paving but helps filter pollutants and improves water quality.</p></li>
        <li><p>If you are an owner-occupant able to design and/or build it yourself to be fully code-compliant, you may be eligible to move forward without a registered contractor via the Homeowner Assistance Permit process. Otherwise, you will at least require a general contractor.</p></li>
    </ol>
{% endblock %}

{% block resources %}
    <ul>
        <li><p>To learn more about a Homeowner Permit: See the <a href='http://tinyurl.com/homeownerpermit'>Homeowner Assistance Plan Review submittal process</a></p></li>
        <li><p>To learn more about permeable paving benefits: <a href='http://tinyurl.com/ChiPermeable'>See options, facts, and products</a></p></li>
        <li><p>To learn more about funding & loan options: See the <a href='http://nhschicago.org'>Neighborhood Housing Services Chicago website</a>.</p></li>
    </ul>
{% endblock %}
