{% extends "base_lot_uses.html" %}
{% block title %}Public Playgrounds - Lot Uses {% endblock %}
{% block name %}Public Playgrounds{% endblock %}
{% block category %}Public Project{% endblock %}
{% block description %}Provides publicly accessible, community- managed playground for youth of all ages in your neighborhood.{% endblock %}
{% block image %}<img src='/static/images/lot-uses/5-public-playgrounds.jpg' alt='Public Playgrounds' class='img-responsive img-thumbnail' />{% endblock %}
{% block requirements %}
    <p><label class='label label-default'>Z</label> Department of Zoning Approval Required</p>
    <p><label class='label label-danger'>E</label> Easy Permit Required (Dept of Buildings). Hire a General Contractor</p>
{% endblock %}

{% block questions %}
    <ul>
        <li>Have a committed volunteer community?</li>
        <li>Understand liability considerations?</li>
        <li>Will you have a storage shed?</li>
        <li>Will you personally maintain the lot?</li>
        <li>Security?</li>
        <li>Fencing?</li>
        <li>Planning to host large events?</li>
        <li>Fixed furniture like benches or tables?</li>
        <li>Shade structures like gazebos?</li>
        <li>On-site parking lot?</li>
    </ul>
{% endblock %}

{% block steps %}
    <ol>
        <li><p>You will need to negotiate additional insurance for the public playground you wish to create, both as it pertains to inviting the public on private land as well as relating to injuries on the equipment. By establishing a community organization for playground users, you may be able to reduce your liability if members of the organization sign a waiver and/or contribute a membership fee to offset higher insurance costs. Talk to your insurer. Homeowners Associations have accomplished this in the past.</p></li>
        <li><p>Talk to your design professional about whether you will need an architect as well as a general contractor for the playground, hardscape areas and foundations. </p></li>
        <li><p>Playground grants are sometimes available via Kaboom, a non-profit that partners with organizations and businesses serving charitable purposes to bring play to urban neighborhoods.</p></li>
    </ol>
{% endblock %}

{% block resources %}
    <ul>
        <li><p>City of Chicago Open Space Zoning contact: See the City’s Open Space resources and read <a href='http://tinyurl.com/ChiOpenSpace'>CitySpace Chicago</a></p></li>
        <li><p>Recommended Playground Manufacturers: The playground companies typically used by the Chicago Park District include: <a href='http://www.playlsi.com'>Landscape Structures</a>; <a href='http://www.gametime.com'>GameTime</a>; <a href='http://www.kompan.us'>Kompan</a>; and <a href='http://www.dynamoplaygrounds.com'>Dynamo</a>. Be advised that all playgrounds must adhere to ASTM & CPSC rules. Soft surfacing is required by law. Commonly, this is similar to woodchips. Rubberized surfaces, while popular, may add hundreds of thousands to your budget and requires restoration in 3 years.</p></li>
        <li><p>Kaboom: Look for playground grant info as well as general advice on <a href='http://kaboom.org/grants'>kaboom.org/grants</a>.</p></li>
    </ul>
{% endblock %}
