{% extends "base_lot_uses.html" %}
{% block title %}Sustainable Strategies - Lot Uses {% endblock %}
{% block name %}Sustainable Strategies{% endblock %}
{% block category %}Public or Private Project{% endblock %}
{% block description %}Green roofs, solar panels, wind turbines, rainwater harvesting & other green technology for private or public use.{% endblock %}
{% block image %}<img src='/static/images/lot-uses/6-sustainable-strategies.jpg' alt='Sustainable Strategies' class='img-responsive img-thumbnail' />{% endblock %}
{% block requirements %}
    <p><label class='label label-default'>Z</label> Department of Zoning Approval Required</p>
    <p><label class='label label-danger'>E</label> Easy Permit Required (Dept of Buildings). Hire a General Contractor.</p>
{% endblock %}

{% block questions %}
    <ul>
        <li><p>Green roof?</p></li>
        <li><p>Eligible for geothermal?</p></li>
        <li><p>Photovoltaic solar? (Electricity)</p></li>
        <li><p>Solar thermal panels? (Heat)</p></li>
        <li><p>Wind turbines or small wind capturing coils?</p></li>
        <li><p>Want to lower your energy bills?</p></li>
        <li><p>Interested in subsidies for energy efficiency?</p></li>
        <li><p>Researched passive strategies?</p></li>
    </ul>
{% endblock %}

{% block steps %}
    <ol>
        <li><p>Get a free energy assessment from your current energy utility (such as ComEd) or a non-profit to find out where green upgrades would make the biggest impact.</p></li>
        <li><p>Get professional advice about your options, pricing, and subsidies by getting in touch with Elevate Energy, an affiliate of the Center for Neighborhood Technology. Elevate Energy is a non-profit dedicated to providing guidance, financing, and for Chicagoland energy projects.</p></li>
        <li><p>Pursuing green strategies can expedite your permit process through the Green Permit program.</p></li>
        <li><p>See if you’re eligible for rebates or installations through the city’s Retrofit Chicago program. Free efficiency items can include smart water meters, and rain barrels.</p></li>
        <li><p>Owners of buildings with 1-4 residential units may be eligible for Energy Efficiency Loan Options offered by the Chicago Community Loan Fund.</p></li>
    </ol>
{% endblock %}

{% block resources %}
    <ul>
        <li><p>Elevate Energy: www.elevateenergy.org, call 855.372.8377, or email buildings@elevateenergy.org.</p></li>
        <li><p>Green Permits Info: tinyurl.com/ ChiGreenPermitsContact: sophie. martinez@cityofchicago.org, 312.744.7862</p></li>
        <li><p>Free Energy Assessment: ComEd and Elevate Energy both offer free home energy assessment to help identify how to partner for savings. ComEd: 845-433-2700.</p></li>
        <li><p>For energy loan info: Contact the Chicago Community Loan Fund: cclfchicago.org, info@cclfchicago.org</p></li>
        <li><p>For info on the City of Chicago’s “Retrofit Chicago”: tinyurl.com/retrofitchicago</p></li>
    </ul>
{% endblock %}
