{% extends "base_lot_uses.html" %}
{% block title %}Furniture, Objects + Art - Lot Uses {% endblock %}
{% block name %}Furniture, Objects + Art{% endblock %}
{% block category %}Public or Private Project{% endblock %}
{% block description %}Provides fixed items like benches, sculptures, and basketball hoops with secure foundations or surface bolts to prevent simple removal.{% endblock %}
{% block image %}<img src='/static/images/lot-uses/7-furniture-objects-art.jpg' alt='Sustainable Strategies' class='img-responsive img-thumbnail' />{% endblock %}
{% block requirements %}
    <p><label class='label label-default'>Z</label> Department of Zoning Approval Required</p>
    <p><label class='label label-danger'>E</label> Easy Permit Required (Dept of Buildings). Hire a General Contractor.</p>
{% endblock %}

{% block questions %}
    <ul>
        <li>Public or private?</li>
        <li>Understand liability considerations?</li>
        <li>Will you have a storage shed?</li>
        <li>Will you personally maintain the lot?</li>
        <li>Security?</li>
        <li>Fencing?</li>
        <li>Planning to host large events?</li>
        <li>Understand foundation needs?</li>
        <li>Inhabitable structures like gazebos?</li>
        <li>On-site parking lot?</li>
    </ul>
{% endblock %}

{% block steps %}
    <ol>
        <li><p>If you are considering these fixed objects for private use only, consult a design professional, as you may simply need an Easy Permit to proceed (or even no permit at all).</p></li>
        <li><p>You may need to hire a licensed general contractor, typically if your object (such as a post for a basketball hoop) requires some kind of foundation.</p></li>
        <li><p>If you plan to have the public onto your privately-owned land, talk to your homeowner’s insurance company about changes you will want to make in your policy to protect yourself from this change in liability.</p></li>
        <li><p>By establishing a community association for users, you may be able to reduce your liability if members of the association sign a waiver and/or contribute a membership fee to offset higher insurance costs. Talk to your insurer. Homeowners Associations have accomplished this in the past.</p></li>
    </ol>
{% endblock %}

{% block resources %}
    <ul>
        <li><p>To find a local artist: <a href='http://publicartinchicago.com'>Public Art in Chicago blog</a>; <a href='http://www.cpag.net/home/portfolios.html'>Chicago Public Art Group Core Artist Portfolios</a></p></li>
        <li><p>City of Chicago Zoning for Public Open Space: See the City’s Open Space resources and read <a href='http://tinyurl.com/ChiOpenSpace'>CitySpace Chicago</a></p></li>
        <li><p>Durable Fixed Outdoor Furniture: The Chicago Park District commonly installs durable benches and other outdoor furniture from: <a href='http://www.playlsi.com'>Landscape Structures</a>; <a href='http://www.gametime.com'>GameTime</a>; <a href='http://dumor.com'>Dumor</a>.</p></li>
    </ul>
{% endblock %}
