{% extends "base_lot_uses.html" %}
{% block title %}Greenhouse - Lot Uses {% endblock %}
{% block name %}Greenhouse{% endblock %}
{% block category %}Public or Private Project{% endblock %}
{% block description %}An accessory building or structure for the growing of plants in a wider growing season.{% endblock %}
{% block image %}<img src='/static/images/lot-uses/9-greenhouse.jpg' alt='Greenhouse' class='img-responsive img-thumbnail' />{% endblock %}
{% block requirements %}
    <p><label class='label label-default'>Z</label> Department of Zoning Approval Required</p>
    <p><label class='label label-danger'>E</label> Easy Permit Required (Dept of Buildings). Hire a General Contractor.</p>
{% endblock %}

{% block questions %}
    <ul>
        <li>Private or public?</li>
        <li>Is this for a community garden? Special zoning!</li>
        <li>Under 15’ tall?</li>
        <li>Will you personally maintain the structure?</li>
        <li>Related to commercial activity at all?</li>
        <li>Security plan?</li>
        <li>Water utilities?</li>
        <li>Fixed furniture like benches or tables?</li>
        <li>Electricity?</li>
        <li>Need help designing or building it?</li>
    </ul>
{% endblock %}

{% block steps %}
    <ol>
        <li><p>Talk to your design professional about whether your structure qualifies for the Easy Permit program, which requires a general contractor. You may need a Standard Plan Review Permit from the Department of Buildings, which requires both an architect and a general contractor. If you are an owner-occupant able to design and/or build it yourself to be fully code-compliant, you may be eligible to move forward without a registered architect with a Homeowner Assistance Permit.</p></li>
        <li><p>For a public greenhouse, be aware that a privately-owned, publicly accessible space may mean you need to change your lot’s zoning. NeighborSpace is a key resource for navigating this process. Structures within community gardens have special rules, and most have a maximum area of 575 SF. Construction methods will define the permits needed for the structure.</p></li>
    </ol>
{% endblock %}

{% block resources %}
    <ul>
        <li><p>City of Chicago Zoning for Public Open Space: See the City’s Open Space resources and read <a href='http://tinyurl.com/ChiOpenSpace'>CitySpace Chicago</a>.</p></li>
        <li><p>City of Chicago Urban Agriculture Zoning contact: See the City’s Urban Agriculture <a href='http://tinyurl.com/ChiUrbanAgriculture'>FAQ on garden sheds</a></p></li>
        <li><p>To learn more about a Homeowner Assistance Permit, see the <a href='http://tinyurl.com/homeownerpermit'>Homeowner Assistance Plan Review submittal process</a></p></li>
    </ul>
{% endblock %}
