{% extends "base.html" %}
{% load lots_filters %}
{% block title %}Lot Uses{% endblock %}
{% block content %}

  <div class='row'>
    <div class='col-md-12'>
      <h1>Lot Uses</h1>
      <p>What can you do with a vacant lot once you get it through the City of Chicago’s Large Lots Program? We've got a few ideas for you.</p>

      <p>Before you dive in, browse our <a href="{% url 'lot_uses_resources' %}">Key Resources &raquo;</a></p>

      <h3>Requirements</h3>
      <p>
        All large lot owners are required to fence their lot (if the lot is not
        adjacent to property they already own) with a
        <a href="http://chicagocode.org/7-28-750/" target="_blank">
            noncombustible screen fence
        </a> while the lot remains vacant. Noncombustible materials
        will not ignite at high temperatures and include metal, chain link, plastic,
        stone, concrete, or brick. Fences must be constructed so that at least 50% of
        the fence has openings that can be seen through, like in a lattice pattern.
        Fences taller than 5ft require an
        <a href="http://www.cityofchicago.org/city/en/depts/bldgs/provdrs/permit_proc.html" target="_blank">
            easy permit.
        </a>
      </p>
      <p>All of the below projects will reqiure some kind of approval from the City of Chicago. We indicate what's required using these labels:</p>
      <small>
        {{ "Z"|lot_use_label:"True" }} <br />
        {{ "S"|lot_use_label:"True" }} <br />
        {{ "E"|lot_use_label:"True" }}
      </small>
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-8'>
      <h3>Public Projects</h3>
      <p>Turn your lot into a space your whole neighborhood can enjoy.</p>

      <table class='table table-condensed table-hover'>
        <thead>
          <tr>
            <th>Public Project</th>
            <th>Requirements</th>
          </tr>
        </thead>
        <tbody id='public-list'></tbody>
      </table>
    </div>
    <div class='col-md-4'>
      <h3>&nbsp;</h3>
      <img src='/static/images/lot-uses/public-projects.jpg' alt='Public Projects' class='img-responsive img-thumbnail' />
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-8'>
      <h3>Private Projects</h3>
      <p>Make your home more pleasant and valuable, or build new apartments for rent.</p>

      <table class='table table-condensed table-hover'>
        <thead>
          <tr>
            <th>Private Project</th>
            <th>Requirements</th>
          </tr>
        </thead>
        <tbody id='private-list'></tbody>
      </table>
    </div>
    <div class='col-md-4'>
      <h3>&nbsp;</h3>
      <img src='/static/images/lot-uses/private-projects.jpg' alt='Private Projects' class='img-responsive img-thumbnail' />
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-8'>
      <h3>Public or Private Projects</h3>
      <p>Projects that could be either private or for public use.</p>

      <table class='table table-condensed table-hover'>
        <thead>
          <tr>
            <th>Public or Private Project</th>
            <th>Requirements</th>
          </tr>
        </thead>
        <tbody id='both-list'></tbody>
      </table>
    </div>
    <div class='col-md-4'>
      <h3>&nbsp;</h3>
      <img src='/static/images/lot-uses/public-or-private-projects.jpg' alt='Public or Private Projects' class='img-responsive img-thumbnail' />
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-8'>

      <h3>Chicago Large Lots Activation Guide</h3>
      <p class='pull-left'>
        <a href='/static/documents/LISC Large Lots Activation Guide.pdf'>
          <img src='/static/images/lot-uses/activation-guide.png' alt='Large Lots Activation Guide' class='img-responsive img-thumbnail' style='width: 200px' />
        </a>
      </p>
      <p>This information was curated by LISC Chicago and Latent Design for the Chicago Large Lots Activation Guide.</p>
      <p><a href='/static/documents/LISC Large Lots Activation Guide.pdf'><i class='fa fa-fw fa-download'></i> Download the full guide</a> (PDF)</p>
    </div>
  </div>
{% endblock %}
{% block extra_js %}

  <script>
    var lot_uses = {
      'public': [
        {'id': '1', 'name': 'Community Agriculture', 'requirements' : ['Z']},
        {'id': '2', 'name': 'Public Plazas + Hardscaping', 'requirements' : ['Z', 'E']},
        {'id': '3', 'name': 'Landscapes + Athletics', 'requirements' : ['Z']},
        {'id': '4', 'name': 'Dog Friendly Areas', 'requirements' : ['Z']},
        {'id': '5', 'name': 'Public Playgrounds', 'requirements' : ['Z', 'E']}
      ],
      'both': [
        {'id': '6', 'name': 'Sustainable Strategies', 'requirements' : ['Z', 'E']},
        {'id': '7', 'name': 'Furniture, Objects + Art', 'requirements' : ['Z', 'E']},
        {'id': '8', 'name': 'Shelters + Sheds', 'requirements' : ['Z', 'E']},
        {'id': '9', 'name': 'Greenhouse', 'requirements' : ['Z', 'E']}
      ],
      'private': [
        {'id': '10', 'name': 'New Construction Building', 'requirements' : ['Z', 'S']},
        {'id': '11', 'name': 'Building Addition', 'requirements' : ['Z', 'S']},
        {'id': '12', 'name': 'Garage', 'requirements' : ['Z', 'S']},
        {'id': '13', 'name': 'Pools, Ponds & Hot Tubs', 'requirements' : ['Z', 'E']},
        {'id': '14', 'name': 'Porches + Decks', 'requirements' : ['Z', 'S']},
        {'id': '15', 'name': 'Driveways + Patios', 'requirements' : ['Z', 'E']}
      ]
    }

    $(function() {
      populateList(lot_uses['public'], "#public-list");
      populateList(lot_uses['both'], "#both-list");
      populateList(lot_uses['private'], "#private-list");

      $(".label").popover({trigger: "hover", placement: "top"});
    });

    function populateList(list, el) {
      var html = ""
      $(list).each( function (k, v) {
        var req_labels = "";
        $(v.requirements).each( function (k, v) {
            if (v == 'Z') req_labels += "{{ "Z"|lot_use_label:"False" }} ";
          if (v == 'S') req_labels += "{{ "S"|lot_use_label:"False" }} ";
          if (v == 'E') req_labels += "{{ "E"|lot_use_label:"False" }} ";
        });
        html += "<tr><td><a href='/lot-uses/" + v.id + "/'>" + v.name + "</a></td><td><small>" + req_labels + "</small></td></tr>";
      });

      $(el).html(html);
    }
  </script>

{% endblock %}
