{% extends "base.html" %}
{% load lots_filters %}
{% block title %}Lot Uses{% endblock %}
{% block content %}

  <div class='row'>
    <div class='col-md-12'>
      <h1>Lot Uses</h1>
      <p>What can you do with a vacant lot once you get it through the City of Chicago’s Large Lots Program? We've got a few ideas for you.</p>

      <h3>The Basics</h3>
      <p>
        All large lot owners are required to fence their lot (if the lot is not
        adjacent to property they already own) with a
        <a href="http://chicagocode.org/7-28-750/" target="_blank">
            noncombustible screen fence
        </a> while the lot remains vacant. Noncombustible materials
        will not ignite at high temperatures. Fences must be constructed so that at least 50% of
        the fence has openings that can be seen through, like in a lattice pattern.
        Fences taller than 5ft require an
        <a href="http://www.cityofchicago.org/city/en/depts/bldgs/provdrs/permit_proc.html" target="_blank">
            easy permit.
        </a>
      </p>
    </div>
  </div>
  <hr />
  <h3>Bigger Ideas</h3>
  <div class='row'>
    <div class='col-md-8'>
      <h4>Private Projects</h4>
      <p>Make your home more pleasant and valuable, or build new apartments for rent.</p>

      <table class='table table-condensed table-hover'>
        <tbody id='private-list'></tbody>
      </table>
    </div>
    <div class='col-md-4'>
      <h3>&nbsp;</h3>
      <img src='/static/images/lot-uses/private-projects.jpg' alt='Private Projects' class='img-responsive img-thumbnail' />
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-8'>
      <h4>Community Projects</h4>
      <p>Turn your lot into a space your whole neighborhood can enjoy.</p>

      <table class='table table-condensed table-hover'>
        <tbody id='public-list'></tbody>
      </table>
    </div>
    <div class='col-md-4'>
      <h3>&nbsp;</h3>
      <img src='/static/images/lot-uses/public-projects.jpg' alt='Public Projects' class='img-responsive img-thumbnail' />
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-8'>
      <h4>Other Projects</h4>
      <p>Projects that could be either private or for community use.</p>

      <table class='table table-condensed table-hover'>
        <tbody id='both-list'></tbody>
      </table>
    </div>
    <div class='col-md-4'>
      <h3>&nbsp;</h3>
      <img src='/static/images/lot-uses/public-or-private-projects.jpg' alt='Public or Private Projects' class='img-responsive img-thumbnail' />
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-8'>

      <h3>Chicago Large Lots Activation Guide</h3>
      <p class='pull-left'>
        <a href='/static/documents/LISC Large Lots Activation Guide.pdf'>
          <img src='/static/images/lot-uses/activation-guide.png' alt='Large Lots Activation Guide' class='img-responsive img-thumbnail' style='width: 200px' />
        </a>
      </p>
      <p>This information was curated by LISC Chicago and Latent Design for the Chicago Large Lots Activation Guide.</p>
      <p><a href='/static/documents/LISC Large Lots Activation Guide.pdf'><i class='fa fa-fw fa-download'></i> Download the full guide</a> (PDF)</p>
    </div>
  </div>
{% endblock %}
{% block extra_js %}

  <script>
    var lot_uses = {
      'public': [
        {'id': '1', 'name': 'Community Agriculture', 'requirements' : ['Z']},
        {'id': '2', 'name': 'Plazas + Hardscaping', 'requirements' : ['Z', 'E']},
        {'id': '3', 'name': 'Landscapes + Athletics', 'requirements' : ['Z']},
        {'id': '4', 'name': 'Dog Friendly Areas', 'requirements' : ['Z']},
        {'id': '5', 'name': 'Public Playgrounds', 'requirements' : ['Z', 'E']}
      ],
      'both': [
        {'id': '6', 'name': 'Sustainable Strategies', 'requirements' : ['Z', 'E']},
        {'id': '7', 'name': 'Furniture, Objects + Art', 'requirements' : ['Z', 'E']},
        {'id': '8', 'name': 'Shelters + Sheds', 'requirements' : ['Z', 'E']},
        {'id': '9', 'name': 'Greenhouse', 'requirements' : ['Z', 'E']}
      ],
      'private': [
        {'id': '10', 'name': 'New Construction Building', 'requirements' : ['Z', 'S']},
        {'id': '11', 'name': 'Building Addition', 'requirements' : ['Z', 'S']},
        {'id': '12', 'name': 'Garage', 'requirements' : ['Z', 'S']},
        {'id': '13', 'name': 'Pools, Ponds & Hot Tubs', 'requirements' : ['Z', 'E']},
        {'id': '14', 'name': 'Porches + Decks', 'requirements' : ['Z', 'S']},
        {'id': '15', 'name': 'Driveways + Patios', 'requirements' : ['Z', 'E']}
      ]
    }

    $(function() {
      populateList(lot_uses['public'], "#public-list");
      populateList(lot_uses['both'], "#both-list");
      populateList(lot_uses['private'], "#private-list");

      $(".label").popover({trigger: "hover", placement: "top"});
    });

    function populateList(list, el) {
      var html = ""
      $(list).each( function (k, v) {
        html += "<tr><td><a href='/lot-uses/" + v.id + "/'>" + v.name + "</a></td></tr>";
      });

      $(el).html(html);
    }
  </script>

{% endblock %}
