{% extends "base.html" %}
{% block title %}Key Resources - Lot Uses{% endblock %}
{% block content %}

  <div class='row'>
    <div class='col-md-8'>
      <p>
        <a href="{% url 'lot_uses' %}">&laquo; back to Lot Uses</a>
      </p>

      <h1>Key Resources</h1>

        <h3>What opportunities and steps can help you with your lot, no matter what you’re planning to do next?</h3>

        <p><strong>Gather your design ideas</strong>
		<br />One way to prepare for a meeting with your design professional is to gather images of spaces you like from popular sites like:</p>
        <ul>
            <li><a href='http://Houzz.com'>Houzz.com</a></li>
            <li><a href='http://Pinterest.com'>Pinterest.com</a></li>
            <li><a href='http://ApartmentTherapy.com'>ApartmentTherapy.com</a></li>
            <li><a href='http://DesignSponge.com'>DesignSponge.com</a></li>
            <li><a href='http://design-milk.com'>design-milk.com</a></li>
            <li><a href='http://witanddelight.com'>witanddelight.com</a></li>
            <li><a href='http://dwell.com'>dwell.com</a>
        </ul>

        <p><strong>Learn more about becoming a landlord</strong>
		<br />See the <a href='http://tinyurl.com/ChiLandlords'>City of Chicago’s Residential Landlord and Tenant Ordinance</a>.</p>

        <p><strong>Know your funding &amp; loan options</strong>
		<br />See the <a href='http://nhschicago.org'>Neighborhood Housing Services Chicago website</a>.</p>

        <p><strong>Appeal your property taxes</strong>
		<br />See the <a href='http://www.cookcountyboardofreview.com'>Cook County Board of Review</a>.</p>

        <p><strong>Apply for non-profit status</strong>
		<br />If you want to make your lot publicly accessible or seek tax-deductible donations, learn more through the <a href='http://thelawproject.org'>Law Project</a> and the City of Chicago <a href='http://cityofchicago.org/sbc'>Small Business Center</a>.</p>

        <p><strong>Save money through sustainability</strong>
		<br />Contact Elevate Energy, a local non-profit of experts extremely dedicated to helping Chicago property owners save money by saving energy. <a href='http://www.elevateenergy.org'>www.elevateenergy.org</a>, call 855.372.8377, or email <a href='mailto:buildings@elevateenergy.org'>buildings@elevateenergy.org</a>.
        <br />Owners of buildings with 1-4 residential units may be eligible for Energy Efficiency Loan Options offered by the <a href="http://cclchicago.org" target="_blank">Chicago Community Loan Fund</a>.
        <br />Free Energy Assessment: ComEd and Elevate Energy both offer free home energy assessment to help identify how to partner for savings. ComEd: 845-433-2700.</p>

        <p><strong>Find information about community gardening</strong>
        <br />Contact <a href="http://chicagocommunitygardens.org" target="_blank">Chicago Community Gardener Association</a>.</p>

        <p><strong>Learn about funding & loan options</strong>
        <br />See the Neighborhood Housing Services Chicago <a href="http://nhschicago.org" target="_blank">website</a>.</p>

        <p><strong>Find out about dog parks</strong>
        <br />Chicago Park District dog park information: Search “Dog Friendly Area” on <a href='http://www.chicagoparkdistrict.com'>www.chicagoparkdistrict.com</a>. For info: Claudine Malik, <a href='mailto:claudine.malik@chicagoparkdistrict.com'>claudine.malik@chicagoparkdistrict.com</a>.</p>

        <p><strong>Playground grants</strong>
        <br />Playground grants are sometimes available via Kaboom, a non-profit that partners with organizations and businesses serving charitable purposes to bring play to urban neighborhoods. Look for playground grant info as well as general advice on <a href='http://kaboom.org/grants'>kaboom.org/grants</a>.</p>

        <p><strong>Playground manufacturers</strong>
        <br />Recommended Playground Manufacturers: The playground companies typically used by the Chicago Park District include: <a href='http://www.playlsi.com'>Landscape Structures</a>; <a href='http://www.gametime.com'>GameTime</a>; <a href='http://www.kompan.us'>Kompan</a>; and <a href='http://www.dynamoplaygrounds.com'>Dynamo</a>. Be advised that all playgrounds must adhere to ASTM & CPSC rules. Soft surfacing is required by law. Commonly, this is similar to woodchips. Rubberized surfaces, while popular, may add hundreds of thousands to your budget and requires restoration in 3 years.</p>

        <p><strong>Get some design ideas</strong>
        <br />To get some design ideas: One way to prepare for a meeting with your architect is to gather images of interiors you like from sites such as: <a href='http://Houzz.com'>Houzz.com</a>, <a href='http://Pinterest.com'>Pinterest.com</a>, <a href='http://ApartmentTherapy.com'>ApartmentTherapy.com</a>, <a href='http://DesignSponge.com'>DesignSponge.com</a>, <a href='http://design-milk.com'>design-milk.com</a>, <a href='http://witanddelight.com'>witanddelight.com</a>, and <a href='http://dwell.com'>dwell.com</a></p>

        <p><strong>Building a pool</strong>
        <br />Request a free consultation with experienced Chicagoland companies like <a href='http://barrington-pools.com'>Barrington Pools</a>, <a href='http://downespool.com'>Downes Pool</a>, or <a href='http://aspools.com'>All Seasons Pools</a>. There are many others.
        <br />Consider pre-packaged options: Retailers like <a href='http://shopthegreatescape.com'>The Great Escape</a> and large home improvement oriented department stores can give you a sense of price for pre-packaged pool & hot tub units.</p>

        <p><strong>Ornamental ponds & fountains</strong>
        <br />For ornamental ponds + fountains: Find a Certified Aquascape Contractor serving Chicagoland like: <a href='http://gemponds.com'>Gem Ponds</a>, <a href='http://adgponds.com'>Artistic Design Garden Ponds</a>, or <a href='http://aqualandscapesinc.com'>Aqua Landscapes</a>. There are many others.</p>

        <p><strong>Porches and decks</strong>
        <br />To get a free estimate: Request a quote from <a href='http://www.porch-builders.com'>Chicago Porch Builders</a>, 773.251.9879
        <br />To get a free inspection by a Building Inspector: Call 3-1-1 and ask for an “owner-requested porch inspection.”</p>

        <p><strong>Outdoor furniture</strong>
        <br />The Chicago Park District commonly installs durable benches and other outdoor furniture from: <a href='http://www.playlsi.com'>Landscape Structures</a>; <a href='http://www.gametime.com'>GameTime</a>; <a href='http://dumor.com'>Dumor</a></p>

        <h3>How to Find a Qualified Professional</h3>

        <p><strong>Architect</strong>
		<br /><a href='http://aiachicago.org/find-an-architect'>AIA Chicago Architect Finder</a></p>

        <p><strong>Structural engineer</strong>
		<br /><a href='http://www.seaoi.org'>Structural Engineers Association of Illinois</a>, <a href='mailto:office@seaoi.org'>office@seaoi.org</a></p>

        <p><strong>General contractor</strong>
		<br />
        <ul>
            <li>Associated Builders and Contractors Illinois <a href='http://www.abcil.org'>Chapter Membership Directory</a></li>
            <li><a href='http://www.bpi.org'>Building Performance Institute Certified Professionals</a></li>
            <li><a href='http://www.angieslist.com/contractor/'>Angie’s List for Contractors</a></li>
        </ul>
        <p>Make sure any contractor you are considering is licensed by checking the City of Chicago’s List of Registered Contractors: webapps1.cityofchicago.org/activegcWeb</p>

        <p><strong>Surveyor</strong>
		<br />Major local surveyors include, but are not limited to:</p>

        <ul>
            <li><a href='http://www.chicagolandsurvey.com'>Chicagoland Survey</a></li>
            <li><a href='http://www.centralsurvey.com'>Central Survey</a></li>
            <li><a href='http://www.sekerez.com'>Sekerez Land Surveying</a></li>
        </ul>

        <p><strong>Grant writer</strong>
		<br />Search for experienced freelance writing professionals on</p>
        <ul>
            <li><a href='http://www.grantwriters.org'>Puget Sound Grantwriters Association</a></li>
            <li><a href='http://www.elance.com'>Elance</a></li>
            <li><a href='https://www.upwork.com'>Upwork</a></li>
        </ul>

        <p><strong>Local artist</strong>
		<br /><a href='http://publicartinchicago.com'>Public Art in Chicago blog</a>; <a href='http://www.cpag.net/home/portfolios.html'>Chicago Public Art Group Core Artist Portfolios</a></p>

    </div>
  </div>
{% endblock %}
