{% extends "base.html" %}
{% block title %}Key Resources - Lot Uses{% endblock %}
{% block content %}

  <div class='row'>
    <div class='col-md-8'>
      <p>
        <a href="{% url 'lot_uses' %}">&laquo; back to Lot Uses</a> 
      </p>

      <h1>Key Resources</h1>

        <h3>What opportunities and steps can help you with your lot, no matter what you’re planning to do next?</h3>

        <p><strong>Gather your design ideas</strong>
		<br />One way to prepare for a meeting with your design professional is to gather images of spaces you like from popular sites like:</p>
        <ul>
            <li><a href='http://Houzz.com'>Houzz.com</a></li>
            <li><a href='http://Pinterest.com'>Pinterest.com</a></li>
            <li><a href='http://ApartmentTherapy.com'>ApartmentTherapy.com</a></li>
            <li><a href='http://DesignSponge.com'>DesignSponge.com</a></li>
            <li><a href='http://design-milk.com'>design-milk.com</a></li>
            <li><a href='http://witanddelight.com'>witanddelight.com</a></li>
            <li><a href='http://dwell.com'>dwell.com</a>
        </ul>

        <p><strong>Learn more about becoming a landlord</strong>
		<br />See the <a href='http://tinyurl.com/ChiLandlords'>City of Chicago’s Residential Landlord and Tenant Ordinance</a>.</p>

        <p><strong>Know your funding &amp; loan options</strong>
		<br />See the <a href='http://nhschicago.org'>Neighborhood Housing Services Chicago website</a>.</p>
        
        <p><strong>Appeal your property taxes</strong>
		<br />See the <a href='http://www.cookcountyboardofreview.com'>Cook County Board of Review</a>.</p>
        
        <p><strong>Apply for non-profit status</strong>
		<br />If you want to make your lot publicly accessible or seek tax-deductible donations, learn more through the <a href='http://thelawproject.org'>Law Project</a> and the City of Chicago <a href='http://cityofchicago.org/sbc'>Small Business Center</a>.</p>
        
        <p><strong>Save money through sustainability</strong>
		<br />Contact Elevate Energy, a local non-profit of experts extremely dedicated to helping Chicago property owners save money by saving energy. <a href='http://www.elevateenergy.org'>www.elevateenergy.org</a>, call 855.372.8377, or email <a href='mailto:buildings@elevateenergy.org'>buildings@elevateenergy.org</a>.</p>

        <h3>How to Find a Qualified Professional</h3>

        <p><strong>Architect</strong>
		<br /><a href='http://aiachicago.org/find-an-architect'>AIA Chicago Architect Finder</a></p>
        
        <p><strong>General contractor</strong>
		<br />
        <ul>
            <li>Associated Builders and Contractors Illinois <a href='http://www.abcil.org'>Chapter Membership Directory</a></li>
            <li><a href='http://www.bpi.org'>Building Performance Institute Certified Professionals</a></li>
            <li><a href='http://www.angieslist.com/contractor/'>Angie’s List for Contractors</a></li>
        </ul>
        <p>Make sure any contractor you are considering is licensed by checking the City of Chicago’s List of Registered Contractors: webapps1.cityofchicago.org/activegcWeb</p>
        
        <p><strong>Surveyor</strong>
		<br />Major local surveyors include, but are not limited to:</p>

        <ul>
            <li><a href='http://www.chicagolandsurvey.com'>Chicagoland Survey</a></li>
            <li><a href='http://www.centralsurvey.com'>Central Survey</a></li>
            <li><a href='http://www.sekerez.com'>Sekerez Land Surveying</a></li>
        </ul>
        
        <p><strong>Grant writer</strong>
		<br />Search for experienced freelance writing professionals on</p> 
        <ul>
            <li><a href='http://www.grantwriters.org'>Puget Sound Grantwriters Association</a></li>
            <li><a href='http://www.elance.com'>Elance</a></li>
            <li><a href='https://www.upwork.com'>Upwork</a></li>
        </ul>

    </div>
  </div>
{% endblock %}