{% load lots_filters %}

<div style="font-family: Calibri, Arial, sans-serif; font-size: 14px;">
    <div class="row">
        <div class="col-md-12">
            <a id='logo' href="http://largelots.org">
            <img src='http://largelots.org/static/images/large_lots.png' alt='Large Lots' />
            </a>
            <p>{{ today|date:'F j, Y' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ app.first_name}} {{ app.last_name }}<br />
            {{ app.owned_address }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Dear {{ app.first_name }},</p>
            <p>Thank you for applying to the Large Lots program. The City has reviewed your application for the following property:</p>
            <p>
                <strong>{{ lot.address.street }}</strong><br />
                <strong>Pin #: {{ lot.pin }}</strong>
            </p>
            <p>Unfortunately, your application has been denied because
            <strong>
            <!-- Denial reasons for emails. Can be customized by DPD if they so wish. -->
            {% if review.denial_reason|slugify == DENIAL_REASONS.document|slugify %}
                you did not include a valid deed for the property that you own.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.deedoveruse|slugify %}
                you applied for more than two lots using the same deed.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.duplicate|slugify %}
                you submitted the same or a similar application more than once.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.church|slugify %}
                the property that you own is a church.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.name|slugify %}
                the name on your application does not match the name on your deed.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.address|slugify %}
                the address on your deed does not match the owned address on your application.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.nameaddress|slugify %}
                the name and address on your application do not match the name and address on your deed.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.block|slugify %}
                you own property on a different block than the lot you requested.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.adjacent|slugify %}
                priority is given to the adjacent property owner when multiple applications are received for the same lot.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.lottery|slugify %}
                it was not selected in the lottery.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.alderman|slugify %}
                the alderman has reserved this lot for future development.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.residential|slugify %}
                the City reserved this lot for a residential development project.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.economic|slugify %}
                the City reserved this lot for an economic development project.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.open_space|slugify %}
                the City reserved this lot for community open space.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.landmark|slugify %}
                the City reserved this lot due to its Landmark District designation.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.EDS|slugify %}
                you failed to complete the Economic Disclosure Statement and Affidavit (EDS).
            {% elif review.denial_reason|slugify == DENIAL_REASONS.debts|slugify %}
                you failed to resolve your indebtedness to the City.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.commission|slugify %}
                the Chicago Plan Commission did not approve your application.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.citycouncil|slugify %}
                the Chicago City Council did not approve your application.
            {% elif review.denial_reason|slugify == DENIAL_REASONS.none|slugify %}
                your application was not complete.
            {% endif %}
            </strong>
            You can learn more about our evaluation process by visiting our <a target='_blank' href='https://www.largelots.org/faq/'>frequently asked questions (FAQ) page</a>.</p>
            <p>Again, thank you for your application. You can stay informed on the Large Lots program through <a target='_blank' href='https://www.largelots.org/'>largelots.org</a> or <a target='_blank' href="https://www.cityofchicago.org/city/en/depts/dcd.html">cityofchicago.org/DPD</a>.</p>
            <p>Feel free to contact me if you have any questions by email at  <a href="mailto:info@largelots.org">info@largelots.org</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Sincerely,</p>
            <p>The Large Lots Team</p>
        </div>
    </div>
</div>
