{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Application list{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            {% for k,v in pilot_info.items %}
                <li {% if k == selected_pilot %}class='active'{% endif %}>
                    <a href="{% url 'pilot_admin' k %}">{{v.human_name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<h3>
    {% if application_status_list %}
        {{ application_status_list|length }}
    {% else %}
        0
    {% endif %}
    Applications received
    <small>
        <!-- <a href="/lots-admin-map/"><i class='fa fa-map-marker'></i> Map view</a> &nbsp;&nbsp;&nbsp;  -->
        <a href="{% url 'csv_dump' selected_pilot %}"><i class='fa fa-file-excel-o'></i> Export as CSV</a></small>
</h3>
<h3>
<!--     {% if applications_before_four %}
        {{ applications_before_four|length }} Applications to review before "Multiple applicant check"
    {% else %}
        {{ applications_at_four|length }} Applications on "Multiple applicant check" to complete
    {% endif %} -->
</h3>

<!-- Form for bulk submit. -->
<form role="form" method="POST" action="{% url 'alderman_advance_submit' %}">
<table id="received" class="table table-striped tablesorter">
    <thead>
        <th>ID</th>
        <th>Date received</th>
        <th>Name/Organization</th>
        <th>Details</th>
        <th class="no-wrap">Next review step</th>
        <th>Bulk review</th>
    </thead>
    <tbody>
    {% for applicant in application_status_list %}
        <tr>
            <td>
                {{applicant.id}}
            </td>
            <td>{{applicant.application.received_date|date:'Y-m-d g:i a'}}</td>
            <td>
                {{applicant.application.first_name}} {{applicant.application.last_name}}
                {% if applicant.application.organization %}
                <br />
                  {{applicant.application.organization}}
                {% endif %}
            </td>
            <td class="no-wrap">
                {% if applicant.denied %}
                    Status: denied
                {% else %}
                    Status: {{ applicant.current_step.public_status }}
                {% endif %}
                </br>
                <a href="/review-status-log/{{ applicant.application.id }}">
                    Review history
                </a></br>
                <a href="{% url 'apply_confirm' applicant.application.tracking_id %}" target="_blank">Confirmation page</a>
            </td>
            <td>
                {% if applicant.current_step %}
                    {% if applicant.current_step.step == 2 or applicant.current_step.step == 3 or applicant.current_step.step == 7 %}
                        <a href="/application-review/step-{{ applicant.current_step.step }}/{{ application.id }}/" class="btn btn-danger"><i class="fa fa-share" aria-hidden="true"></i> {{ applicant.current_step }}</a>
                    {% elif applicant.current_step.step == 4 %}
                        <!-- {% if applications_before_four %}
                            {{ application.application_step }}</br>
                            Waiting for other applications
                        {% else %} -->
                            <!-- <a href="/application-review/step-{{ application.status.step }}/{{ application.id }}/" class="btn btn-danger"><i class="fa fa-share" aria-hidden="true"></i> {{ application.status }}</a> -->
                        <!-- {% endif %} -->
                    {% elif applicant.current_step.step == 5 %}
                        <a href="/lottery/">Lottery</a>
                    {% else %}
                        {{ applicant.current_step }}</br>
                        Waiting for decision
                    {% endif %}
                {% else %}
                    None
                {% endif %}
            </td>
            <td>
                <!-- Table cell with form data -->
                {% if applicant.current_step.step == 6 %}
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input name="advance" value="{{applicant.application.id}}" type="checkbox"/>
                      </label>
                    </div>
                  </div>
                {% else %}
                    Not an option
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            Received letter of support?</br>
            <button type="submit" class="btn btn-success">Yes, submit.</button>
            </td>
        </tr>
    </tbody>
</table>
</form>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#received').DataTable({
                "order": [[ 1, "desc" ]],
                "paging": false,
                "info": false,
                columnDefs: [
                    {
                        targets: 5,
                        orderable: false
                    },
                ]
            });
        })
    </script>
{% endblock %}
