{% extends "base.html" %}
{% load lots_filters %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% block extra_css %}
<link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Application list{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="right-nav">
            {% for i in step_range %}
                <a href="{% url 'applications' i %}">{% if step == i %}Step {% endif %}{{i}}</a>&nbsp;|
            {% endfor %}
            <a href="{% url 'applications' '11' %}"><i class="fa fa-usd" aria-hidden="true"></i> Sold</a>&nbsp;|
            <a href="{% url 'applications' 'denied' %}"><i class="fa fa-ban" aria-hidden="true"></i> Denied</a>&nbsp;|
            <a href="{% url 'applications' 'all' %}"><i class="fa fa-list" aria-hidden="true"></i> All applications</a>
        </div>
    </div>
</div>

<div class="row">
    <div class='col-md-8'>
        <h3>
            Large Lots received {{ app_count }} applications
            <small><a href="{% url 'csv_dump' selected_pilot step %}"><i class='fa fa-fw fa-file-excel-o'></i> Export as CSV</a></small>
        </h3>
        {% if step == 7 %}
            <h4>
                Principal Profiles have been received for {{ ppf_count }} applications
                <small>
                    <a href="{% url 'lots_admin_principal_profiles' %}" target="_blank">
                        <i class="fa fa-fw fa-external-link"></i> Go to export
                    </a>
                </small>
            </h4>
        {% endif %}

        <!-- Form for searching applicants by name or ward -->
        <form type="get" action="{% url 'applications' step %}" style="margin: 0">
            <input class="form-control update" id="query" type="text" name="query"  placeholder="Search for a name or ward..." >
            {% for name, value in request.GET.items %}
                {% if name != 'query' %}
                    <input type="hidden" name="{{ name }}" value="{{ value }}">
                {% endif %}
            {% endfor %}
            <button class="btn btn-success update" id="search_submit" type="submit" style="border-width: 0px;"><i class="fa fa-search" aria-hidden="true"></i> Submit</button>
        </form>

        <br />

        {% if step == 7 %}
            <small>
                Filter by: &nbsp;
                <a href="{% url 'applications' '7' %}?{% query_transform request ppf='true' %}" class="label {% ifequal request.GET.ppf 'true' %}label-success{% else %}label-default{% endifequal %}">
                    PPF submitted
                </a>&nbsp;
                <a href="{% url 'applications' '7' %}?{% query_transform request ppf='false' %}" class="label {% ifequal request.GET.ppf 'false' %}label-success{% else %}label-default{% endifequal %}">
                    PPF not submitted
                </a>&nbsp;
                <a href="{% url 'applications' '7' %}?{% query_transform request eds='true' %}" class="label {% ifequal request.GET.eds 'true' %}label-success{% else %}label-default{% endifequal %}">
                    EDS submitted
                </a>&nbsp;
                <a href="{% url 'applications' '7' %}?{% query_transform request eds='false' %}" class="label {% ifequal request.GET.eds 'false' %}label-success{% else %}label-default{% endifequal %}">
                    EDS not submitted
                </a>&nbsp;
                <a href="{% url 'applications' '7' %}">
                    <i class="fa fa-fw fa-times" aria-hidden="true"></i>
                    Clear filters
                </a>
            </small>
        {% endif %}
    </div>
</div>

<!-- Form for bulk submit. -->
<form role="form" method="POST" action="{% url 'bulk_submit' %}">
    <div class="row">
        <div class="col-md-8">
            <select name='step' class="form-control update">
                <option>-----------------</option>
                <option value="step5">Complete step 5: Alderman letter of support</option>
                <option value="step7">Complete step 7: Wait for applicant to submit EDS and principal profile</option>
                <option value="step10">Move to step 10: Applicant certified as free and clear of debts to the city</option>
                <option value="step11">Move to step 11: Sold</option>
                <option value="deny">Deny application</option>
            </select>
            <button type="submit" class="btn btn-success update"><i class="fa fa-check" aria-hidden="true"></i> Update</button>
        </div>
        <div class="col-md-4">
            {% csrf_token %}
            <p class="info-text">Move multiple applications to the next step! Select checkboxes (far-right column), pick a step in the dropdown, and click "Update."</p>
        </div>
    </div>

    {% include 'partials/application_table.html' %}
        
</form>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/lib/jquery-1.12.3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/dataTables.bootstrap.js' %}" type="text/javascript"></script>
{% endblock %}
