{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Application list{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            {% for k,v in pilot_info.items %}
                <li {% if k == selected_pilot %}class='active'{% endif %}>
                    <a href="{% url 'pilot_admin' k %}">{{v.human_name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Form for bulk submit. -->
<form role="form" method="POST" action="{% url 'alderman_advance_submit' %}">
    <div class="row">
        <div class='col-md-10'>
            <h3>
                {% if application_status_list %}
                    {{ application_status_list|length }}
                {% else %}
                    0
                {% endif %}
                Applications received
                <small><a href="{% url 'csv_dump' selected_pilot %}"><i class='fa fa-file-excel-o'></i> Export as CSV</a></small>
            </h3>
            <h3>
                <!-- Check for applications that have not advanced through Steps 2 and 3. -->
                {% if before_step4 %}
                    {{ before_step4|length }} Applications to review before "Multiple applicant check"
                {% else %}
                    {{ on_step4|length }} Applications on "Multiple applicant check" to complete
                {% endif %}
            </h3>
            <h3>Total applications left to review</h3>
        </div>

        <div class="col-md-2">
            <!-- <p>Move applicants that received alderman support to next step.</p> -->
            <button type="submit" class="btn btn-success bulk"><i class="fa fa-check" aria-hidden="true"></i> Alderman letter: Bulk submit</button>
        </div>
    </div>

    <table id="received" class="table table-striped tablesorter">
        <thead>
            <th>ID</th>
            <th>Date received</th>
            <th>Name/Organization</th>
            <th>Details</th>
            <th class="no-wrap">Next review step</th>
    <!--         <th class="bulk">Bulk review</th> -->
        </thead>
        <tbody>
        {% for applicant in application_status_list %}
            <tr>
                <td>
                    {{applicant.id}}
                </td>
                <td>{{applicant.application.received_date|date:'Y-m-d g:i a'}}</td>
                <td>
                    {{applicant.application.first_name}} {{applicant.application.last_name}}
                    {% if applicant.application.organization %}
                    <br />
                      {{applicant.application.organization}}
                    {% endif %}
                </td>
                <td class="no-wrap">
                    {% if applicant.denied %}
                        Status: denied
                    {% else %}
                        Status: {{ applicant.current_step.public_status }}
                    {% endif %}
                    </br>
                    <a href="/review-status-log/{{ applicant.id }}">
                        Review history
                    </a></br>
                    <a href="{% url 'apply_confirm' applicant.application.tracking_id %}" target="_blank">Confirmation page</a>
                </td>
                <!-- Add data-order attribute to sort by step. -->
                {% if applicant.current_step %}
                <td data-order='{{ applicant.current_step.step }}'>
                    {% if applicant.current_step.step == 2 or applicant.current_step.step == 3 or applicant.current_step.step == 7 %}
                        <a href="/application-review/step-{{ applicant.current_step.step }}/{{ applicant.id }}/" class="btn btn-danger"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ applicant.current_step }}</a>
                    {% elif applicant.current_step.step == 4 %}
                        {% if before_step4 %}
                           {{ applicant.current_step }}</br>
                            <span class='wait'>Waiting for other applications</span>
                        {% else %}
                            <a href="/application-review/step-{{ applicant.current_step.step }}/{{ applicant.id }}/" class="btn btn-danger"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ applicant.current_step }}</a>
                        {% endif %}
                    {% elif applicant.current_step.step == 5 %}
                       <a href="/lottery/">Lottery</a>
                    {% elif applicant.current_step.step == 6 %}
                       {{ applicant.current_step }}</br>
                        <span class='wait'>Waiting for decision</span>

                        {% csrf_token %}
                        <div class="form-group">
                            <div class="checkbox">
                              <label>
                                <input name="letter-received" value="{{applicant.id}}" type="checkbox"/>
                              </label>
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                </td>
                {% else %}
                <td data-order="99">None</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#received').DataTable({
                "order": [[4, 'asc']],
                // "paging": false,
                "info": false,
                // columnDefs: [
                //     {
                //         targets: 5,
                //         orderable: false
                //     },
                // ],
                "dom": '<"top"f><"wrapper"l>t<"bottom"p>'
            });
        })
    </script>
{% endblock %}
