{% extends "base.html" %}{% load staticfiles %}
{% load lots_filters %}
{% block title %}Deny applications{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>Deny application?</h3>
    <p>You are about to deny these applications.</p>
    <p>If you want to continue, add a denial reason (optional). If not, then remove the application from the list.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form role="form" method="POST" action="{% url 'bulk_deny_submit' %}">
        <ul class="bulk-deny">
      {% for a in applications %}
          <li>
            <strong>{{ a.application.first_name }} {{ a.application.last_name }}</strong></br>
            Application for Lot #{{ a.lot.pin }}</br>
            {% csrf_token %}
            <input type="hidden" name="application" value='{{ a.id }}'>
            <span class="block wait">Select denial reason:</span>
            <select name='denial-reason' class="bulk-deny form-control block">
                <option value="none">None</option>
                <option value="letter">Alderman did not provide letter of support</option>
                <option value="EDS">Incomplete information on EDS and principal profile</option>
                <option value="debts">Applicant did not pay city debts</option>
                <option value="commission">Plan Commission did not approve application</option>
                <option value="citycouncil">City Council did not approve application</option>
            </select>
            <div class="checkbox">
              <label>
                <input class="box" name="remove" value="{{ a.id }}" type="checkbox"/>
                Remove from list
              </label>
            </div>
          </li>
      {% endfor %}
        </ul>
      <p><button type="submit" class="btn btn-success bulk"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Deny applications</button></p>
      <p>All applicants on this list will receive an email notification.</p>
    </form>
  </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $(".box").on("click", function(){
            $(this).parents("li").hide();
          });
        })
    </script>
{% endblock %}