{% load lots_filters %}

<div style="font-family: Calibri, Arial, sans-serif; font-size: 14px;">
    <div class="row">
        <div class="col-md-12">
            <a id='logo' href="http://largelots.org">
            <img src='http://largelots.org/static/images/large_lots.png' alt='Large Lots' />
            </a>
            <p>{{ today|date:'F j, Y' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ app.first_name}} {{ app.last_name }}<br />
            {{ app.owned_address }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Dear {{ app.first_name }},</p>

            <p>Your Large Lot Closing Date and time has been scheduled for <strong>{{ event|date:'g:i A l, F jS' }}</strong>. The Closing is held en masse, so please anticipate it lasting several hours.</p>

            <p>The Closing will be held in City Hall at <strong>121 N. LaSalle Street, 11th Floor, Room 1103.</strong></p>

            <p>The City will be selling the following lots to you via Quit Claim Deed:</p>

            <ul>
            {% for lot in lots %}
                <li>
                    Lot address: {{ lot.address.street }}<br />
                    Lot PIN: #{{ lot.pin|make_display_pin }}
                </li>
            {% endfor %}
            </ul>

            <p>Below are the items you will need to bring to the Closing:</p>

            <ol>
                <li><strong>A State-Issued Picture ID</strong></li>

                <li><strong>FOR EACH LOT - A Money Order</strong> made payable to <strong>COOK COUNTY RECORDER OF DEEDS</strong> in the amount of <strong>$56.00</strong>. The PIN and Address for the property you are purchasing needs to be in the memo along with your telephone number. If you are purchasing more than one property, <strong>you need a separate money order for each property.</strong> The money order covers the recording costs.</li>

                <li><strong>FOR EACH LOT - A Personal Check</strong> made payable to the <strong>CITY OF CHICAGO</strong> in the amount of <strong>$1.00</strong>. If you are purchasing more than one property, <strong>you need a separate check for each property.</strong> The check covers the purchase price of the property.</li>

                <li><strong>A Pen</strong></li>

                <li><strong>FOR EACH LOT - A Self Addressed, 9x12 Sized Envelope.</strong> We will mail your recorded deed back to you using this envelope. You do <u>not</u> need to provide postage.</li>
            </ol>

            <p>Looking forward to seeing you at the Closing!</p>
        </div>
        <div class="row">
          <div class="col-md-12">
              <p>Best,</p>
              <p>Jeanne Chandler</p>
          </div>
        </div>
    </div>
</div>
