{% load lots_filters %}

<div style="font-family: Calibri, Arial, sans-serif; font-size: 14px;">
    <div class="row">
        <div class="col-md-12">
            <a id='logo' href="http://largelots.org">
            <img src='http://largelots.org/static/images/large_lots.png' alt='Large Lots' />
            </a>
            <p>{{ today|date:'F j, Y' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ app.first_name}} {{ app.last_name }}<br />
            {{ app.owned_address }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2></h2>
            <p>Dear {{ app.first_name}},</p>
            <p>There was a technical problem with the Large Lots website at the time of your application, and your deed failed to upload. Please use the link below to upload your deed again so that we may review your application. Once your deed has been re-submitted you will receive another confirmation.</p>

            <p><a href="https://www.largelots.org/deed-upload/{{ app.tracking_id }}">Click to re-submit your deed.</a></p>

            <p>Please do this soon. Failure to upload your deed by <strong>Friday, April 28th</strong> will result in denial of your application.</p>

            <p>If you need assistance, please visit the City of Chicago, Dept of Planning & Development, <strong>121 N. LaSalle Street, Room 1101</strong>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Sorry for the inconvenience.<br />
            Sincerely,</p>
            <p>Jeanne Chandler</p>
        </div>
    </div>
</div>