{% extends "base.html" %}
{% load staticfiles %}
{% load lots_filters %}
{% block title %}Deed upload{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">

    <h1>Deed upload</h1>
    <p>Thank you for resubmitting your deed to the Large Lots program. You'll need to <strong>upload a copy of your deed</strong> to prove that you own property on the same block as the lot(s) you applied to buy. You do not need to be a resident of the deeded property, but you must be its owner.</p>

    <p>The name on your application and the address entered here must exactly match the name and address on your deed.</p>

    <form role="form" id="application" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="panel panel-default" id='selected_lots'>
          <div class='panel-heading'>
            Deed upload
          </div>

          <div class="panel-body">

            {% if form.deed_image.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
            <label for="id_deed_image"><i class='fa fa-upload'></i> Upload your deed picture or document</label><span class="red">*</span>
            <input type="file" value="{{deed_image}}" id="id_deed_image" name="deed_image">
            {% for error in form.deed_image.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
            <br>
            <p class="help-block">Your deed must be in PDF or image (JPG, PNG) format. Max size 5mb.</p>
          </div>

      </div>

    </form>


  </div>
</div>

{% endblock %}