{% extends "base.html" %}
{% load staticfiles %}
{% load lots_filters %}
{% block title %}Deed check{% endblock %}
{% block content %}

{% include "review-header.html" with app=application_status %}

<div class="row">
  <div class="col-md-6">
    <h3>Deed Check</h3>
    <p>Does the name and address on the deed match those of the applicant?</p>
    <form role="form" id="deed-check" method="POST" action="{% url 'deed_check_submit' application_status.id %}">
      {% csrf_token %}
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input id="applicant-name" name="name" type="checkbox"/>
            {{ application_status.application.first_name }} {{ application_status.application.last_name }}
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="address-name" name="address" type="checkbox"/>
            {{ application_status.application.owned_address }}
          </label>
        </div>
      </div>
      <p>Is the deeded property a church?</p>
      <div class="radio">
        <label>
          <input name="church" type="radio" value="2"/>
          No
        </label>
      </div>
      <div class="radio">
        <label>
          <input name="church" type="radio" value="1"/>
          Yes
        </label>
      </div>
      <p><button type="submit" class="btn btn-success">Submit</button></p>
    </form>
  </div>
  <div class="col-md-6">
    {% if application_status.application.deed_image.url|check_for_pdf %}
        <iframe
            id="pdf-embed"
            class="pdf-viewer"
            frameborder="0"
            seamless="true"
            width="100%"
            height="600px"
            src="/pdfviewer/?file={{ application_status.application.deed_image.url|urlencode }}">
        </iframe>
    {% else %}
        <img src="{{ application_status.application.deed_image.url }}">
    {% endif %}
  </div>
</div>

{% endblock %}