{% extends "base.html" %}
{% load staticfiles %}
{% load lots_filters %}
{% block title %}Deed upload{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">

    {% if deed_uploaded %}
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
          <div class="col-sm-12 well">

            <h1>Deed already submitted</h1>
            <p>{{ application.first_name }} {{ application.last_name }}, you already provided a deed to purchase the following lot{% if lots|length > 1%}s{% endif %}:</p>

            {% for lot in lots %}
            <p>
                <strong>{{ lot.address }}<br>
                {{ lot.pin | make_display_pin }}</strong>
            </p>
            {% endfor %}

            <p>The City has your application, and we will review it soon.</p>
        </div>
      </div>
    </div>
    {% else %}
      <h1>Upload your deed</h1>
      <p>Thank you for resubmitting your deed to the Large Lots program. You'll need to <strong>upload a copy of your deed</strong> to prove that you own property on the same block as the lot(s) you applied to buy. You do not need to be a resident of the deeded property, but you must be its owner.</p>

      <p>You provided the following name and address on your application:</p>
      <p>
        <strong>{{ application.first_name }} {{ application.last_name }}<br>
        {{ application.owned_address.street }}</strong>
      </p>

      <p>You applied to purchase the following lot{% if lots|length > 1%}s{% endif %}:</p>

      {% for lot in lots %}
      <p>
          <strong>{{ lot.address }}<br>
          {{ lot.pin | make_display_pin }}</strong>
      </p>
      {% endfor %}

      <p class="help-block">Note: the name and address on your application must exactly match the name and address on your deed.</p>

      <form role="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="panel panel-default" id='selected_lots'>
            <div class='panel-heading'>
              Deed upload
            </div>

            <div class="panel-body">

              {% if form.deed_image.errors %}
              <div class="form-group has-error">
              {% else %}
              <div class="form-group">
              {% endif %}
              <label for="id_deed_image"><i class='fa fa-upload'></i> Upload your deed picture or document</label><span class="red">*</span>
              <input type="file" value="{{deed_image}}" id="id_deed_image" name="deed_image">
              {% for error in form.deed_image.errors %}
                  <span class="help-block">{{ error }}</span>
              {% endfor %}
              <br>
              <p class="help-block">Your deed must be in PDF or image (JPG, PNG) format. Max size 5mb.</p>

              <p><button type="submit" class="btn btn-success btn-lg">Submit deed</button></p>
            </div>

        </div>

      </form>
    {% endif %}

  </div>
</div>

{% endblock %}