{% load lots_filters %}

<div style="font-family: Calibri, Arial, sans-serif; font-size: 14px;">
    <div class="row">
        <div class="col-md-12">
            <a id='logo' href="http://largelots.org">
            <img src='http://largelots.org/static/images/large_lots.png' alt='Large Lots' />
            </a>
            <p>{{ today|date:'F j, Y' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ app.first_name}} {{ app.last_name }}<br />
            {{ app.owned_address }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Deed uploaded!</h2>
            <p>You successfully uploaded your property deed. The City will ensure that your application receives full and complete consideration for the following lot{% if lots|length > 1%}s{% endif %}:</p>

            {% for lot in lots %}
            <p>
                <strong>{{ lot.address }}<br>
                {{ lot.pin | make_display_pin }}</strong>
            </p>
            {% endfor %}

            <p>Again, thank you for your application. We look forward to working with you in the future. You may stay informed on the Large Lots program through <a target='_blank' href='https://www.largelots.org/'>largelots.org</a> or <a target='_blank' href="https://www.cityofchicago.org/city/en/depts/dcd.html">cityofchicago.org/DPD</a>.</p>
            <p>If you have any questions, feel free to contact Jeanne Chandler by email at <a href="mailto:Jeanne.chandler@cityofchicago.org">Jeanne.chandler@cityofchicago.org</a> or by phone at (312)744-0605.</p>
        </div>
    </div>
</div>