{% load lots_filters %}

<div style="font-family: Calibri, Arial, sans-serif; font-size: 14px;">
    <div class="row">
        <div class="col-md-12">
            <a id='logo' href="http://largelots.org">
            <img src='http://largelots.org/static/images/large_lots.png' alt='Large Lots' />
            </a>
            <p>{{ today|date:'F j, Y' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ app.first_name}} {{ app.last_name }}<br />
            {{ app.owned_address }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Dear {{ app.first_name }},</p>

            <p>Over the past few months we have been reviewing the 4,500 requests for property we received from the 2,800 Large Lot applications.</p>

            <p>At this time, the Department of Planning and Development will not be proceeding with the sale of the lot listed below:</p>

            <p>
                <strong>{{ lot.address }}<br>
                {{ lot.pin | make_display_pin }}</strong>
            </p>

            <p>This summer, the Department of Planning and Development will be launching a new housing program in this area.  More information on the program will be available at www.cityofchicago.org/dpd.</p>

            <p>Thank you for your application and we look forward to working with you in the future.</p>
        </div>
        <div class="row">
          <div class="col-md-12">
              <p>Sincerely,</p>
              <p>The Large Lots Team</p>
          </div>
        </div>
    </div>
</div>