{% extends "base.html" %}
{% load staticfiles %}
{% load lots_filters %}
{% block title %}Deny application{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h2>Deny application?</h2>
    <p>You are about to deny this application for the following reason:</p>
    <p><strong>{{ review.denial_reason }}</strong></p>
    <p>Are you sure?</p>
    <div class='block'><a href="/application-review/step-{{ application.status.step }}/{{ application.id }}/" class="btn btn-danger">No, go back.</a></div>
    <div class='block'>
      <form role="form" id="deed-check" method="POST" action="{% url 'deny_submit' application.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Yes, I'm sure.</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}