{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Deny application{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h2>Deny application?</h2>
    <p>You are about to deny this application for the following reason:</p>
    <p><strong>{{ application.review_status.denial_reason }}</strong></p>
    <p>Are you sure?</p>
    <a href="{% url 'deed_check' application.id %}" class="btn btn-danger">No, go back.</a>
    <a href="{% url 'lots_admin' %}" class="btn btn-success">Yes, I'm sure.</a>
  </div>
</div>

{% endblock %}