{% extends "base.html" %}{% load staticfiles %}
{% load lots_filters %}
{% block title %}Email error{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>Unable to send emails</h3>
    <p>Something happened, and we could not send emails to the following applicants due to SMTP error. Please contact DataMade for assistance.</p>

    <table class="table table-striped">
      <thead>
        <th>ApplicationStatus ID</th>
        <th>Applicant</th>
        <th>Email</th>
        <th>Lot</th>
      </thead>
      <tbody>
      {% for a in applicant_statuses %}
        <tr>
          <td>{{ a.id }}</td>
          <td>{{ a.application.first_name }} {{ a.application.last_name }}</td>
          <td>{{ a.application.email }}</td>
          <td>{{ a.lot.pin | make_display_pin }} <br> {{ a.lot.address }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}