{% extends "base.html" %}
{% load staticfiles %}
{% load lots_filters %}
{% block title %}Lottery{% endblock %}
{% block content %}

<h2>Large Lots Lottery</h2>
<p>The City will hold a lottery for these lots. Click on the "Run lottery" button to see competing applicants and chose a winner.</p>

{% if lots_morning or lots_afternoon %}

  {% if lots_morning %}
  <h3>Morning lotteries</h3>
    {% with lots_list=lots_morning %}
      {% include 'partials/lotto_table.html' %}
    {% endwith %}
  {% endif %}

  {% if lots_afternoon %}
  <h3>Afternoon lotteries</h3>
    {% with lots_list=lots_afternoon %}
      {% include 'partials/lotto_table.html' %}
    {% endwith %}
  {% endif %}
  
{% else %}
  <p>Lottery complete! Get some rest.</p>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <a href="{% url 'lots_admin' 'all' %}" class="btn btn-danger"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go back</a>
  </div>
</div>

{% endblock %}