{% extends "base.html" %}
{% load staticfiles %}
{% load lots_filters %}
{% block title %}Lottery{% endblock %}
{% block content %}

<h2>Large Lots Lottery</h2>
<p>The City will hold a lottery for these lots. Click on the "Run lottery" button to see competing applicants and chose a winner.</p>

{% if lots_list %}
  <table class="table table-striped">
    <thead>
      <th class="no-wrap">Address</th>
      <th>Lot number</th>
      <th></th>
    </thead>
    <tbody>
        {% for lot in lots_list %}
          <tr>
            <td>{{ lot.address }}</td>
            <td>{{ lot.pin | make_display_pin }}</td>
            <td><a href="{% url 'lottery' lot.pin %}" class="btn btn-success">Run lottery</a></td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Lottery complete! Get some rest.</p>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <a href="{% url 'lots_admin' 'all' %}" class="btn btn-danger"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go back</a>
  </div>
</div>

{% endblock %}