{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Lottery{% endblock %}
{% block content %}
<form role="form" method="POST" action="{% url 'lottery_submit' %}">
<h2>Large Lots Lottery</h2>
{% for lot in lots_list %}
<h3>{{ lot.address }}</h3>
<h3>Lot #{{ lot.pin }}</h3>
<table class="table">
    <thead id="table-stripe">
      <th class="no-wrap">Application ID</th>
      <th>Name/Organization</th>
      <th>Email</th>
      <th class="no-wrap ball">Ball number</th>
      <th class="winner">Winner</th>
    </thead>
    <tbody>
      {% for applicant in applications %}
        {% csrf_token %}
        {% if applicant.lot == lot %}
        <tr>
          <td>{{ applicant.application.id }}</td>
          <td>
            {{ applicant.application.first_name }} {{ applicant.application.last_name }}
            {% if applicant.application.organization %}
              <br />
              {{applicant.application.organization}}
            {% endif %}
          </td>
          <td>{{ applicant.application.email}}</td>
          <td class="ball">{{ forloop.counter }}</td>
          <td>
            <div class="form-group">
              <div class="radio">
                <label>
                  <input name="winner{{lot}}" value="{{applicant.id}}" type="radio"/>
                </label>
              </div>
            </div>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
</table>
{% endfor %}
<div class="row">
  <div class="col-md-6">
    <a href="{% url 'lots_admin' 'all' %}" class="btn btn-danger"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go back</a>
  </div>
  <div class="col-md-6">
    <button type="submit" class="btn btn-success winners"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Submit winners</button>
  </div>
  <div class="col-md-12 notification">
    <p>Applicants that do not win the lottery will receive an email notification.</p>
  </div>
  </form>

</div>

{% endblock %}