{% extends "base.html" %}
{% load lots_filters %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% block extra_css %}
<link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Principal Profile Form{% endblock %}
{% block content %}

<div class="col-md-12">

    <h1>Principal Profile Form</h1>

    <p>The Principal Profile Form is used to verify that you do not owe any money to the City. <strong>All information requested is mandatory.</strong> Failure to complete this form and return it by the deadline will result in your removal from the Large Lot Program.</p>

    <h2>Instructions</h2>

    <h3>Who needs to fill out this form?</h3>

    <ul>
        <li><strong>If you are an individual applying for the lot,</strong> submit only your own information.</li>
        <li><strong>If you are purchasing the lot with a spouse or partner,</strong> submit your information, as well as your spouse or partner's information.</li>
        <li><strong>If you represent a non-profit or for-profit organization,</strong> submit information for each member of your board, officers, and executive director.</li>
    </ul>

    <h3>What if a question does not apply to me?</h3>

    <ul>
        <li><strong>If you do not have a driver’s license,</strong> please provide information regarding your state ID. If you have neither a driver’s license nor a state ID, put “NA” in that field.</li>

        <li><strong>If you do not have a car,</strong> put “NA” in the field requesting the License Plate Number. If you are a co-signer on a car loan, you are liable for the tickets associated with that vehicle and must provide its license plate number.</li>
    </ul>

    <hr>

    <h2>Lot{% if lots|length > 1 %}s{% endif %} applied for</h2>
    {% for lot in lots %}
    <p>
        <strong>Address:</strong> {{ lot.address.street }}<br />
        <strong>PIN:</strong> {{ lot.pin }}
    </p>
    {% endfor %}

    <h2>Your information</h2>

    <form action="/principal-profile-form/" method="post">
        <div class="form-group">
            {% csrf_token %}
            <label>Name</label>
            <p><strong>{{ application.first_name }} {{ application.last_name }}</strong></p>

            <label>Home address</label>
            <p><strong>{{ application.contact_address.street }} {{ application.contact_address.city }}, {{ application.contact_address.state }} {{ application.contact_address.zip_code }}</strong></p>

            {% for field in form %}
                <div class="input-group{% if field.errors %} has-errors{% endif %}">
                    <label for="{{ field.name }}">
                        {{ field.label }} <span style="color: red">*</span>
                    </label>
                    {{ field }}
                </div>
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endfor %}
        </div>
        <a class="btn btn-success btn-xs">
            <i class="fa fa-fw fa-plus-circle" aria-hidden="true"></i> Add another person's information
        </a><br /><br />
        <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
    </form>

</div>

{% endblock %}
