{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Application list{% endblock %}
{% block content %}

{% include "review-header.html" with app=application_status %}

<h3>Review history</h3>
{% if reviews %}
<table class="table table-striped" id="review-log">
    <thead>
      <th>Date</th>
      <th>Reviewer</th>
      <th>Decision</th>
      <th>Reason</th>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <td data-order='{{ review.id }}'>{{ review.created_at }}</td>
          <td>{{ review.reviewer }}</td>
          {% if review.denial_reason %}
            <td>
              Deny application<br>
              <em>Email notification sent</em>
            </td>
            <td>{{ review.denial_reason }}</td>
          {% else %}
            <td>
              {% for step, description in steps %}
                {% if step == review.step_completed %}
                    {% if review.step_completed in future_list %}
                      Complete step {{ review.step_completed }}: {{ description }}
                    {% else %}
                      Move to step {{ review.step_completed }}: {{ description }}
                    {% endif %}
                {% endif %}
              {% endfor %}
            </td>
            <td>N/A</td>
          {% endif %}

        </tr>
      {% endfor %}
    </tbody>
</table>

{% else %}
  <p>This application has not been reviewed.</p>
{% endif %}

<h3>Update applicant information</h3>
<p>Use this form to change the applicant's owned pin or owned address.</p>

<div class='row'>
  <div class='col-md-6'>
    {% if success %}
      <p class='alert alert-success'><strong>Success!</strong> Updates made to {{application_status.application}}'s info.</p>
    {% endif %}
  </div>
</div>

<div class='row'>
  <div class='col-md-10'>
    <form class='well' action='/review-status-log/{{ application_status.id }}' method='post'>
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            {% for field in application_form %}
              <div class='form-group'>
                <label>Owned pin:</label>
                {{ field }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            {% for field in address_form %}
              <div class='form-group'>
                <label>Owned address:</label>
                {{ field }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <button type="submit" class="btn btn-success pull-right">
              <i class="fa fa-fw fa-paper-plane" aria-hidden="true"></i> Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div><a href="{% url 'applications' 'all' %}" class="btn btn-danger"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go back</a></div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/lib/jquery-1.12.3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/dataTables.bootstrap.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#review-log').DataTable({
                "order": [[0, 'asc']],
                "paging": false,
                "info": false,
                "bFilter": false,
            });
        })
    </script>
{% endblock %}