{% extends "base.html" %}
{% load lots_filters %}
{% load staticfiles %}
{% block title %}Application list{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>
            Application status tally
        </h2>

        Select a pilot: &nbsp;
        {% for pilot, human_name in pilot_info.items %}
            <a href="{% url 'status_tally' %}?{% query_transform request pilot=pilot %}" class="label {% ifequal request.GET.pilot pilot %}label-success{% else %}label-default{% endifequal %}">{{human_name}}</a>&nbsp;
        {% endfor %}

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <th>Review step</th>
                <th>Tally</th>
            </thead>
            <tbody>

            {% for step, short_name, count in steps_with_count %}
                <tr>
                    <td><a href="{% url 'applications' step %}?{% query_transform request pilot=request.GET.pilot %}">Step {{step}}: {{short_name}}</a></td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td><a href="{% url 'applications' 'denied' %}?{% query_transform request pilot=request.GET.pilot %}">Denied</a></td>
                    <td>{{ denied }}</td>
                </tr>
                <tr class="table-info">
                    <td><a href="{% url 'applications' 'all' %}?{% query_transform request pilot=request.GET.pilot %}">Total</a></td>
                    <td>{{ total|length }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapse').on('show.bs.collapse', function () {
                $('.collapse.in').collapse('hide');
            });
        })
    </script>
{% endblock %}