{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Application list{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3>Application status tally</h3>
        <table class="table table-striped">
            <thead>
                <th>Review step</th>
                <th>Tally</th>
            </thead>
            <tbody>
                <!-- Step 2 -->
                <tr>
                    <td><a href="{% url 'lots_admin' '2' %}">Step 2: Deed check</a></td>
                    <td>{{ step2|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '3' %}">Step 3: Location check</a></td>
                    <td>{{ step3|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '4' %}">Step 4: Multiple location check</a></td>
                    <td>{{ step4|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '5' %}">Step 5: Alderman letter of support</a></td>
                    <td>{{ step5|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '6' %}">Step 6: Lottery</a></td>
                    <td>{{ step6|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '7' %}">Step 7: Wait for applicant to submit EDS and principal profile</a></td>
                    <td>{{ step7|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '8' %}">Step 8: Approval of EDS - Applicant submitted EDS and principal profile</a></td>
                    <td>{{ step8|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '9' %}">Step 9: Certify as free and clear of debts to the city</a></td>
                    <td>{{ step9|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '10' %}">Step 10: Approval by Plan Commission</a></td>
                    <td>{{ step10|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '11' %}">Step 11: Approval by City Council</a></td>
                    <td>{{ step11|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' '12' %}">Sold</a></td>
                    <td>{{ sold|length }}</td>
                </tr>
                <tr>
                    <td><a href="{% url 'lots_admin' 'denied' %}">Denied</a></td>
                    <td>{{ denied|length }}</td>
                </tr>
                <tr class="table-info">
                    <td><a href="{% url 'lots_admin' 'all' %}">Total</a></td>
                    <td>{{ total|length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapse').on('show.bs.collapse', function () {
                $('.collapse.in').collapse('hide');
            });
        })
    </script>
{% endblock %}