{% load lots_filters %}

<div style="font-family: Calibri, Arial, sans-serif; font-size: 14px;">
    <div class="row">
        <div class="col-md-12">
            <a id='logo' href="http://largelots.org">
            <img src='http://largelots.org/static/images/large_lots.png' alt='Large Lots' />
            </a>
            <p>{{ today|date:'F j, Y' }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ app.first_name}} {{ app.last_name }}<br />
            {{ app.owned_address }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Dear {{ app.first_name }},</p>

            <p>Over the last 12 weeks we have been reviewing the 4500 requests for property we received from the 2800 Large Lot applications. Our initial review was to confirm applicants provided a deed for the property they own and that they own property on the same block as the City-owned lot. We have reviewed your application for the property listed below and can confirm that you meet the criteria necessary to proceed to the next stage of the review process.</p>

            <p>
                <strong>{{ lot.address }}<br>
                {{ lot.pin | make_display_pin }}</strong>
            </p>

            <p>Over the next few weeks we will be reviewing applications to determine which lots will be included in a lottery. Just a reminder, a lottery is triggered when more than one application was received for a lot. The Large Lot Program does give priority to the adjacent property owner if they applied. You will be emailed if the lot you applied for will be included in the lottery and will be provided with details on when the lottery will be held in May.</p>

            <p>If the lot you applied for will not be included in the lottery, you will receive an email in June with additional information and next steps. We anticipate completing the closing process by October. Our communication will become more frequent this summer as we work together towards that goal.</p>

            <p>Thank you for your patience through the review process.</p>
        </div>
        <div class="row">
          <div class="col-md-12">
              <p>Best,</p>
              <p>The Large Lots Team</p>
          </div>
        </div>
    </div>
</div>
