{% extends "base.html" %}
{% load lots_filters %}
{% block title %}Confirmation{% endblock %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2">
    <div class="row">
        <div class="col-sm-12">
           <!--  <p>
                <a class='btn btn-default' id='print-page' href="#">
                    <i class='fa fa-print'></i> Print this page for your records
                </a>
            </p> -->
            <h1>Thanks for uploading your deed!</h1>
        </div>
    </div>
</div>

{% endblock %}
